/* ver 23 - 1.31.2015 */

* {  }

p.err {
	color:red;
}

img.headHall {
	width:25px;
	height:25px;
}

p.dbg {
	color:#D6D6D6;
        display: none;
}

h1 {
    font-family: "Georgia", Times, serif;
    font-size: 70px;
    background-color: #CC403D;
    color: #fff;
    border-top: solid;
    border-bottom: solid;
    border-width: 20px;
    border-color: #0066ff;
    text-align: center;
    padding-bottom: 12px;
	margin-bottom: 10px;
        
}

h3 {
    font-family: "Georgia", Times, serif;
    font-size: 16px;    
    color: #80CC99;
}

.supp {
	background-color: #80CC99;
    border-radius: 8px;
    vertical-align: middle;
        
        
        
}

.supportButton {
    vertical-align: middle;
                
}
        
td {
    vertical-align: middle;
                
}
        
form, input {
    vertical-align: middle;
    margin: 1; 
    padding: 2;
               
}
        
.opp {
	background-color: #CC8080;
    border-radius: 10px;       
        
}

.neut {
	
}

.tagCol {
	text-align:center;        
                
}

.issRow {
    border-style: solid;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888888;
	border-collapse:separate;
    border-spacing:10px 15px;
    padding: 10px;
	margin: 5px;       
        
}

.issRow2 {
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888888;
	border-collapse:separate;
    border-spacing:10px 15px;
    padding: 5px;
	margin: 5px;       


}

.issRow3 {
	
	
}

.issCol2 {
   /* border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888888;
	border-collapse:separate;
    border-spacing:10px 15px;
    padding: 10px;
	margin: 5px;      */  
        
}


.issue {
        max-width:1000px;
		
        
}

.issue2 {
        max-width:1000px;
		padding: 10px;
        
}

.issHead {
    width:80px;
    border-radius: 10px;
    color:white;
	text-align: center;
	background-color: #CC403D;

}

.issHead2 {
    width:80px;
    border-radius: 10px;
    color:white;
	text-align: center;
	background-color: #CC403D;

}
        
.profIss {
       /* max-width:900px;
		border-style: solid;
		border-width: 1px;
		border-radius: 6px;
		box-shadow: 10px 10px 5px #888888;*/
		
}

.profIss2 {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-spacing: 0px 28px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

table.question {
	min-width: 400px;
	max-width: 900px;
	border-collapse:separate;
    border-spacing:25px;
	/*cellspacing="10" cellpadding="10"*/		
}

table.userData {
	/* removed from in-line style: 
	style = "display: inline-block;" frame="border"
	*/


}

td.question {
	width: 50%;
	padding: 30px;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	box-shadow: 7px 7px 4px #888888;	
}

form.inline {
	display: inline-block;
	margin: 5px;
}

div.inline {
	text-align: justify;
}

td.sectionTitle {
	color: white;
	text-align: left;
	border-style: solid;
	border-width: 2px;
	background-color: #0066ff;
	border-color: #2B33A2;
	box-shadow: 7px 7px 4px #888888;
	padding: 5px;
	margin: 5px;
	
}

td.electText {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.blueBarsTable {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-spacing: 0px 17px;
}

.outerTable {
	width: 75%;
}
	
.electionEntries {
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888888;
	border-collapse:separate;
    border-spacing:10px 15px;
    padding: 3px;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

.Cand {
	text-align: center;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: 40px;
}

li.navbar  {
	float: left;
	margin-left: auto;
	margin-right: auto;
}

input.navbar {
	display: block; 
	width: 160px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066ff;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}

input.navbar:hover  {
	background-color: #CC403D;
}

/*
a.navbar:link, a.navbar:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066ff;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}

a: hover, a:active {
	background-color: #CC403D;
}
	*/

	