/* ver 6 - 11.24.2018 */

* {  }

a.button:link, a.button:visited {
    background-color: #009900;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin: 10px 20px;
	border-style: solid;
	border-width: 2px;
}


a.button:hover, a.button:active {
    background-color: #3333cc;
}

div.center {
	margin: auto;
}

input.button[type=submit] {
	background-color: #999966;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin: 5px 10px;
	border-style: solid;
	border-width: 2px;
}

label {
	size: 16px;
}

p.err {
	color:red;
}